@{
    ViewBag.Title = "Home Page";
}
<div class="opcoes_lista">
    @using (Html.BeginForm("ListarPersonagem", "StreetFighterController", FormMethod.Get))
    {
        <span class="opcao">
            <strong>
                @Html.Label("Filtro: ")
            </strong>
            @Html.TextBox("filtro")
        </span>
    }

    @using (Html.BeginForm("Cadastro", "StreetFighterController"))
    {
        <span class="opcao">
            <button type="submit">Editar</button>
        </span>
    }
</div>

@{
    if (Model.Count == 0)
    {
        <h2>Não há nenhum produto cadastrado.</h2>
    }
    <h2> @TempData["Mensagem"] </h2>
    foreach (var produto in Model)
    {
        <div class="produto">
            <img src="@produto.Nome">
            <span>

                @Html.ActionLink(produto.Nome, "FichaTecnica", "StreetFighterController", new { Id = produto.id }, null)
            </span>
            @Html.ActionLink("Excluir", "Excluir", "StreetFighterController", new { idPersonagem = personagem.Id }, new { @class = "item_opcao" })
            @Html.ActionLink("Editar", "Cadastro", "StreetFighterController", new { idPersonagem = personagem.Id }, new { @class = "item_opcao" })
        </div>
    }
}
