@using System.Globalization
@{
    ViewBag.Title = "Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 class="bottom-title">@Model.Nome</h2>
</div>
<div>
    <span>
        <img src="@Model.Imagem" alt="Blanka">
    </span>
    <span class="descricao">
        <p class="ficha"><strong>Nascimento:</strong> @(Model.Nascimento.ToString("dd' de 'MMMM' de 'yyyy")).</p>
        <p class="ficha"><strong>Altura:</strong> @(Model.Altura)cm.</p>
        <p class="ficha"><strong>Origem:</strong> @(Model.Origem).</p>
        <p class="ficha"><strong>Peso:</strong> @(Model.Peso)kg.</p>
        <p class="ficha"><strong>Golpes especiais:</strong> @(Model.GolpeEspecialFamoso).</p>
        <p class="ficha"><strong>Personagem oculto:</strong> @(Model.PersonagemOculto ? "Sim" : "Não").</p>
    </span>
</div>


@section Styles {
    <style>
        img {
            width: 300px;
            height: auto;
            display: inline;
        }
    </style>
}
