
@{
    ViewBag.Title = "FichaTecnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="titulo">
</div>
<div id="resto">
    <div>
            <h2 class="bottom-title">
                <strong>@(Model.Nome)</strong>
            </h2>
    </div>
    <div id="imagem">
        <img src="@Model.Imagem" style="height: 355px; margin-bottom: 46px;">
    </div>
    <div style="width: 400px;display: inline-block; margin-left: 70px;">
        <strong>Nascimento:</strong> @(Model.DataNascimento.ToString("dd' de 'MMMM' de 'yyyy")).<br />
        <strong>Altura:</strong> @(Model.Altura)cm.<br />
        <strong>Peso:</strong> @(Model.Peso)kg.<br />
        <strong>Origem:</strong> @(Model.Origem).<br />
        <strong>Golpes especiais famosos:</strong> @(Model.GolpesEspeciaisFamosos).<br />
        <p class="ficha"><strong>Personagem oculto:</strong> @(Model.PersonagemOculto ? "Sim" : "Não").</p>
    </div>
</div>

