
@{
    ViewBag.Title = "ListarPersonagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
div class="opcoes_lista">
@using (Html.BeginForm("ListarPersonagem", "StreetFighter", FormMethod.Get))
{
    <span class="opcao">
        <strong>
            @Html.Label("Filtro: ")
        </strong>
        @Html.TextBox("filtro")
    </span>
}

@using (Html.BeginForm("Cadastro", "StreetFighter"))
{
    <span class="opcao">
        <button type="submit">Cadastro</button>
    </span>
}
</div>

@{
    if (Model.Count == 0)
    {
        <h2>Não há nenhum personagem cadastrado.</h2>
    }
    <h2> @TempData["Mensagem"] </h2>
    foreach (var personagem in Model)
    {
        <div class="personagem">
            <img src="@personagem.Imagem">
            <span>
                @Html.ActionLink(personagem.Nome, "FichaTecnica", "StreetFighter", new { idPersonagem = personagem.Id }, null)
            </span>
            @Html.ActionLink("Excluir", "Excluir", "StreetFighter", new { idPersonagem = personagem.Id }, new { @class = "item_opcao" })
            @Html.ActionLink("Editar", "Cadastro", "StreetFighter", new { idPersonagem = personagem.Id }, new { @class = "item_opcao" })
        </div>
    }
}

@section Styles {
    <link href="~/Content/lista-personagens-stylesheet.css" rel="stylesheet" />
}